<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      <a [href]="post.link" target="_blank">
        {{post.title.rendered}}
      </a>
    </mat-card-title>
  </mat-card-header>
  <mat-card-subtitle>{{post.date_gmt | date}}</mat-card-subtitle>
  <img matCardImage [src]="post['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url">
  <mat-card-content [innerHTML]="post.excerpt.rendered"></mat-card-content>
</mat-card> -->

<!-- <div class="card mb-4 text-white bg-success" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img matCardImage [src]="post['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url" 
        class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">
          <a [href]="post.link" target="_blank">
            {{post.title.rendered}}
          </a>
        </h5>
        <h3>{{post.date_gmt | date}}</h3>
        <p class="card-text" [innerHTML]="post.excerpt.rendered"></p>
      </div>
    </div>
  </div>
</div> -->

<div class="card" col-3>
  <img matCardImage [src]="post['_embedded']['wp:featuredmedia'][0]['media_details'].sizes['medium'].source_url" 
        class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">    
        {{post.title.rendered}}
    </h5>
    <h3>{{post.date_gmt | date}}</h3>
    <p class="card-text justificado" [innerHTML]="post.excerpt.rendered"></p>
    <a [href]="post.link" target="_blank" class="btn btn-primary">+ info</a>
  </div>
</div>
